body
{
	/* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */
	background-image: url("img/pinkdust.png");
	color: lightgray;
	font-size: 22px;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	
	
	
}


#container
{
	
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding: 10px;
	text-align: center;
	
	
	
	
}

td
{
	width: 140px;
	text-align: center;
}

th
{
	color: #f55369;
	width: 180px;
text-align: center;
	
}

.del
{
	
	width: 110px;
	background-color: #f55369;
	opacity: 0.75;
	font-size: 16px;
	color: white;
	padding: 10px 10px;
	margin-top: 5px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	
}
.del:hover
{
	background-color: #f66479;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);	
}
.del2
{
	
	width: 260px;
	background-color: #f55369;
	opacity: 0.75;
	font-size: 16px;
	color: white;
	padding: 10px 10px;
	margin-top: 5px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	
}
.del2:hover
{
	background-color: #f66479;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);	
}
#usun
{
	
	margin-top: 40px;
	
	
	
}
#zezwol
{
	
	top: 50px;
	
	
	
	
	
}




a
{
	color: #b2ffef;
	
}
a:hover
{
	cursor: pointer;
	color: #31e3c1;
	
}






