body
{
	/* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */
	background-image: url("img/pinkdust.png");
	color: lightgray;
	font-size: 22px;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	
	
	
}

#container
{
	
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding: 10px;
	text-align: center;
	
	
	
}
#responsecontainer
{
	
	margin-top: 20px;
}
#witaj
{
	
	display: inline-block;
}
#zmien
{
	display: inline-block;
}
#wyl
{
	margin-top: 60px;
}
#dokonales
{
	margin-top: 20px;
}

#zapraszam
{
	margin-top: 20px;
	
}

#los_im
{
	color: #f55369;
	margin-top: 70px;
	
}
#los_im2
{
	color: #f55369;
	
}
#zamalo
{
	margin-top: 20px;
	color: #f55369;
	
}

#juz
{
	color: #f55369;
	margin-top: 70px;
	
}
a
{
	color: #b2ffef;
	
}
a:hover
{
	cursor: pointer;
	color: #31e3c1;
	
}

#submit
{
	width: 250px;
	background-color: #f55369;
	opacity: 0.75;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-top: 20px;
	
	
}
#submit:hover
{
	background-color: #f66479;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);	
}

